<p id="notice"><%= notice %></p>

<h1>Pokemons</h1>

<br>

<ul class="pokemon-list">
  <% @pokemons.each do |pokemon| %>
    <li class="pokemon-list-item">
      <figure>
        <%= link_to image_tag(pokemon.avatar, class: 'pokemon-avatar'), pokemon%>
      </figure>
      <div class="pokemon-info">
        <p>#<%= pokemon.index %></p>
        <h5><%= pokemon.name %></h5>
      </div>
      <div class="pokemon-types">
        <% pokemon.types.each do |type| %>
          <%= link_to type_path(type) do %>
            <div style="background-color: <%= type.color %>" class="pokemon-type"><%= type.name %></div>
          <% end %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'New Pokemon', new_pokemon_path %>
