<p id="notice"><%= notice %></p>

<h1>Pokemons</h1>

<br>

<ul class="pokemon-list">
  <% @pokemons.each do |pokemon| %>
    <li class="pokemon-list-item">
      <figure>
        <img src="<%= pokemon.avatar %>" class="pokemon-avatar">
      </figure>
      <div>
        <p>#<%= pokemon.index %></p>
        <h5><%= pokemon.name %></h5>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'New Pokemon', new_pokemon_path %>
